body {
    font-family: 'Poppins', sans-serif;
    background: #4CB8C4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3CD3AD, #4CB8C4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.heading {
    text-align: center;
    font-size: 1.2em;
}

.temperatureSection {
    text-align: center;
}

.latlng {
    text-align: center;
    font-size: 1em;
}

.lat,
.long {
    color: rgb(230, 9, 9);
}

/* Gradient transparent - color - transparent */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.currentTemp,
.currentTemperature {
    color: rgb(230, 9, 9);
}

.buttonCust {
    background-color: black;
    color: white;
    border: tomato 1px;
}

.button {
    background-color: teal;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 20%;
    height: 50px;
    font-size: 1.2em;
    font-weight: 700;

}

.button:hover {
    background-color: rgb(18, 143, 49);
}

@media (max-width: 426px) {
    .button {
        width: 25%;
    }
}

@media (max-width: 350px) {
    .button {
        width: 30%;
    }
}